{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 500,
  "proseWrap": "preserve",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"]
}